@import './base/bootstrap-extended/include'; // Bootstrap includes
@import './base/components/include'; // Components includes

// --- file input button for dark layout ----- //
.dark-layout {
    .form-control {
        &[type='file'] {
            &::file-selector-button {
                background-color: $theme-dark-input-bg;
            }
        }
    }
}

.main-menu {
    .navbar-header {
        .navbar-brand {
            margin-top: 0.5rem;
            .brand-logo {
                img {
                    max-width: 100px;
                }
            }
        }
    }
}

.input-flex, .input-group-merge{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}